.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
.Rprofile
/cache
/inputs
*.tif

caribouForecastSSUD_WBI/data/prepInputs/CHECKSUMS.txt

caribouForecastSSUD_WBI/data/prepInputs/studyArea_4maps.cpg

caribouForecastSSUD_WBI/data/prepInputs/studyArea_4maps.dbf

caribouForecastSSUD_WBI/data/prepInputs/studyArea_4maps.prj

caribouForecastSSUD_WBI/data/prepInputs/studyArea_4maps.shp

caribouForecastSSUD_WBI/data/prepInputs/studyArea_4maps.shx

caribouForecastSSUD_WBI/data/prepInputs/studyArea_4maps.zip

outputs/log/
